
.wordList{
	display: flex;
	flex-direction: column;
	align-items: center;
	/* small hack to make content a little higher */
	margin-bottom: 2em;
}
.wordList li{
	margin: 0.125em;
}
.wordListHeader{
	margin-bottom: 1em;
	/* flex-shrink: 5; */
	padding: 1em;
	background: white;
	border-radius: 0.25em;
}